/** loader */
.loader-wrapper {
  display: none;
}

.loader-wrapper.active {
  display: block;
}

.loader-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(30, 50, 47, 0.64);
  background-color: #969696d9;
  color: #fff;
}

.loader-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}

.loader-inline .loader-spinner {
  border-color: #ddd;
  border-top-color: #3498db;
}

.loader-inline .loader-inner p {
  margin-top: 5px;
}

.loader-inner p {
  padding-left: 5px;
  margin: 0;
  margin-top: 10px;
}

.loader-spinner {
  border-color: #f2f2f2;
  border-style: solid;
  border-width: 4px;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
  transition-timing-function: linear;
  margin: 0 auto;
}

.loader-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202020;
  background: #202020ad;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

.loader-div.active {
  opacity: 1;
  visibility: visible;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.form-sub-heading {
  font-size: 25px;
  font-weight: 600;
  color: #00324c;
  margin-bottom: 15px;
}

.form-group label {
  color: #202020;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}

.row {
  margin-bottom: 10px;
}

.form-control {
  color: #000000;
  font-size: 16px;
  height: 42px;
}

.search-btn {
  padding-right: 0;
  margin-top: 15px;
}

.search-btn .btn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.8px;
  background-color: #00324C;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #00324C;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 6px 10px 0px rgba(23, 16, 16, 0.23);
  margin-left: 15px;

}

.search-btn #reset-btn {
  background-color: transparent;
  color: #00324C;
}

.search-btn #reset-btn:hover {
  background-color: #ED4548;
  color: #FFFFFF;
}

.search-btn .btn:hover {
  color: #FFFFFF;
  background-color: #ED4548;
  border-color: #ED4548;
}

.section-design {
  padding: 20px 10px;
  background: #ebebeb;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 6%);
  margin-bottom: 30px;
}

.box-title {
  color: #00324c;
  font-weight: 600;
  line-height: 1.2;
  font-size: 20px;
  padding-bottom: 10px;
}

.pt-date {
  border-top: 1px solid #cfcfcf;
  padding-top: 10px;
  margin-bottom: 15px;
}

.pt-date p {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.prayer-tiles-row {
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.prayer-tiles {
  padding: 10px 6px;
  display: flex;
  flex: auto;
  max-width: 200px;
}

.prayer-tiles > p {
  background-color: #fff;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #cac6c6;
  border-radius: 0.5rem;
}

.prayer-tiles span {
  display: block;
  text-align: center;
}

.prayer-tiles .prayer-name {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.prayer-tiles .prayer-time {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.prayer-box {
  display: flex;
}

.prayer-tiles.pt-active {
  background: #00324c;
  padding: 15px;
  margin-left: 15px;
}

.pt-active {
  background-color: #000000;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
}

.pt-active span {
  display: block;
  text-align: center;
}

.pt-active p {
  color: #ffffff;
  margin: 0;
}

.pt-active .next-pray {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid #8d8d8d;
  display: flex;
  text-align: center;
  justify-content: center;
}

.pt-active .pt-timer {
  font-size: 24px;
  font-weight: 600;
}


#prayer-table {
  font-family: poppins, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  border: 1px solid #dddddd;
}

.prayer-time-monthly {
  padding-top: 30px;
}

.table-responsive {
  overflow: auto;
}

#prayer-table td,
#prayer-table th {
  font-size: 16px;
  text-align: center;
  color: #000000;
  line-height: 1.3;
  white-space: nowrap;
  padding: 5px 6px;
}

/* #prayer-table tr:nth-child(even) {
    background-color: #f2f2f2;
} */

#prayer-table tr {
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
}

#prayer-table td:first-child {
  background-color: #f2f2f2;
}

#prayer-table tr.date-active td {
  background: #00324c;
  color: #ffffff;
}

#prayer-table tr:hover {
  background-color: #ddd;
}

#prayer-table th {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: #7f7f7f;
  color: #fff;
}

.select-month {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  margin: auto;
}


.monthly-print-option .col button {
  height: 40px;
  border-radius: 15px;
  font-weight: 600;
  width: 130px;
  transition: all .3s;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
}

.export-btn-holder {
  display: flex;
  align-items: center;
}

.monthly-print-option .btn {
  height: 55px;
  border-radius: 15px;
  font-weight: 600;
  min-width: 144px;
  transition: all .3s;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  padding: 14px 42px;
}

.monthly-print-option button.btn {
  height: 55px;
}

.btn-print {
  background: #00324c;
  border: 2px solid #00324c;
  color: #ffffff;
  margin-left: 10px;
}

.btn-download {
  background: #ecf5fb;
  border: 2px solid #00324c;
  color: #00324c;
}

.btn-print:hover {
  color: #FFFFFF;
  background-color: #ED4548;
  border-color: #ED4548;
}

.btn-download:hover {
  background-color: #ED4548;
  color: #FFFFFF;
  border-color: #ED4548;
}

.islamic-event-cta .learn-more-btn a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  background-color: #ED4548;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 6px 10px 0px rgba(23, 16, 16, 0.23);
  display: inline-block;
}

.islamic-event-cta .learn-more-btn a:hover {
  color: #D43838;
  background-color: #FFFFFF;
}

.checkbox.switcher .message-info {
  color: #4d4d4d;
  font-style: italic;
  margin-bottom: 0;

}

.checkbox.switcher {
  margin-top: 15px;
}

.checkbox.switcher label input {
  display: none;
}

.checkbox.switcher label * {
  vertical-align: middle;
}

.checkbox.switcher label input + span {

  background: #269bff;
  border-color: #269bff;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 15px;
  border: 1px solid #eee;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.checkbox.switcher label input:checked + span {
  background: #000000;
}

.checkbox.switcher label input + span strong {
  left: 20px;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -4px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.4);
}

.checkbox.switcher label input:checked + span strong {
  left: 0;
}

.row .form-group title {
  width: 100px;
}

.prayer-times-generation {
  width: 100%;
  padding: 40px 0 60px 0;
}

.section-design.section-head-search {
  background: #fff;
  box-shadow: none;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 20px;
}

.form-control.form-control-search-location {
  outline: 2px solid #00324c;
  border-radius: 30px;
  height: 50px;
  border: 3px solid #e4dede;
  font-size: 18px;
}

.btn.btn-generate-prayer {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
  padding: 12px 40px;
  background: #00324c;
}

.btn.btn-generate-prayer:hover {
  background-color: #ED4548;
}

.p-relative {
  position: relative;
}

.islamic-event-cta {
  background-color: #00324C;
  padding: 50px 0;
  margin-top: 50px;
}

.islamic-event-cta h2 {
  color: #FFFFFF;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.2;
}

.islamic-event-cta .learn-more-btn {
  margin-top: 30px;
}

.islamic-event-cta .learn-more-btn a {
  padding: 25px 50px 25px 50px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  font-size: 13px;
  background-color: #0b8fb4;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  line-height: 1.4;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-8,
.col-md-4,
.col-sm-4,
.col-sm-3{
  position: relative;
  /*width: 100%;*/
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 767px) {
  .text-md-right {
    text-align: right;
  }

  .export-btn-holder {
    justify-content: end;
  }

  #prayer-table {
    margin-top: 30px;
  }

  .prayer-times-generation {
    padding: 30px 0 50px 0;
  }

  .section-design {
    padding: 30px;
  }

  .upcoming-prayer-tiles {
    padding-left: 40px;
  }

  .box-title {
    font-size: 28px;
  }

  .prayer-tiles > p {
    padding: 30px 15px;
  }

  #prayer-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
  }

  #prayer-table td,
  #prayer-table th {
    padding: 12px;
  }

  .monthly-print-option {
    padding-top: 15px;
  }

  .islamic-event-cta {
    padding: 100px 0;
    margin-top: 80px;
  }

  .islamic-event-cta h2 {
    font-size: 55px;
  }

  .islamic-event-cta .learn-more-btn {
    margin-top: 50px;
  }

  .form-control.form-control-search-location {
    outline: 3px solid #00324c;
    height: 55px;
    border: 4px solid #e4dede;
  }

  .monthly-print-option .btn {
    padding: 14px 40px;
  }

  .tooltip .tooltiptext {
    width: 300px;
  }
  .col-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}

@media (min-width: 576px){
  .col-sm-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
